// IF NEED IE ONLY STYLESHEET
// SeT THIS IN IE.SCSS
$fix-mqs: false !default;
$desktop: 48em;
$tablet: 34em;
$mobile: 24em;

@mixin media($width) {
    // If we're outputting for a fixed media query set...
    @if $fix-mqs {
        // ...and if we should apply these rules...
        @if $fix-mqs >= $width {
            // ...output the content the user gave us.
            @content;
        }
    }
    @else {
        // Otherwise, output it using a regular media query
        @media screen and (min-width: $width) {
            @content;
        }
    }
}

@mixin mobile-only {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: $tablet) and (max-width: $desktop - .01em) {
    @content;
  }
}

@mixin everything-but-desktop {
  @media (max-width: $desktop - .01em) {
    @content;
  }
}

%row,
.row {
    @extend %clearfix;
    @include container;
}

.row-pad,
%row-pad {
    @extend %row;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

%row-narrow,
.row-narrow {
    margin-left: auto;
    margin-right: auto;
    max-width: 40.5em;
}

.section,
%section {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;

  @include media($tablet) {
    padding-right: 4%;
    padding-left: 4%;
  }

  @extend %clearfix;

}

.alt-section,
%alt-section {
  @extend %section;

  background-color: $blue;
  color: $white;

  h1,h2,h3,h4,h5,h6 {
    color: $white;
  }

  a {
    color: $white;
  }
}

.full-width {
    width: 100%;
}

.container {
    padding-left: 4%;
    padding-right: 4%;
    @include container;
}

/*  SELF CLEARING FLOATS - CLEARFIX METHOD */
.container,
.clr,
.group {
  @extend %clearfix;
}


/* Clearing */
[class*="content"],
[class*="site"] {
    @extend %clearfix;
}



@include media(43.75em) {
  #primary {
    @include span(3 of 4);
  }

  #primary.full-width {
    @include span(12);
  }

  #secondary {
     @include span(1 of 4 last);
  }

}

// grid system
@include media($tablet) {
  @for $i from 1 through 12 {



      .grid_#{$i} {
        @include span($i);
      }

      .rtl_grid {
        .grid_#{$i} {
          @include span($i rtl);
          margin-right: 0;
        }
      }

  }

  .last {
    float: right;
    margin-right: 0;
  }

  .rtl_grid .last {
    margin-left: 0;
  }
}

// gallery system
@for $i from 2 through 4 {
    .gallery_#{$i} {
      margin-bottom: 1.6em;

      @include media(30em) {
          @include gallery(2 of 4);
          margin-bottom: gutter(4);
      }

      @include media(43.75em) {
          @include gallery($i of $i*$i);
          margin-bottom: gutter($i*$i);
      }

    }
}


