#masthead {
    background: $white;
    border-bottom: 1px solid $gray;
    transition: border-bottom 4s;

    .logo {
        font-size: 2em;
        margin-right: 30px;
        transition: all 400ms;

        @include everything-but-desktop {
            text-align: center;
            margin: .5em auto;
        }

        @include media($desktop) {
            float: left;
        }
    }

}
